@page "/Account/ForgotPasswordConfirmation"
@layout LoginLayout
<PageTitle>Confirmação de Alteração</PageTitle>

<h2 style="color: white">Confirmação de Alteração</h2> <hr />
<p style="color: white">
    Por favor cheque seu email para restaurar sua senha.
</p>

