@page "/Account/InvalidPasswordReset"
@layout LoginLayout
<PageTitle>Redefinição de senha inválida</PageTitle>

<h1 style="color : white">Redefinição de senha inválida</h1>
<p style="color: white">
    Redefinição de senha inválida
</p>
