@page "/Account/ResetPasswordConfirmation"
@layout LoginLayout
<PageTitle>Restauraração de Senha</PageTitle>

<h1 style="color: white;">Restauraração de Senha</h1>
<p style="color: white">
    Sua senha foi Alterada. Por favor <a href="Account/Login">Clique para Entrar</a>.
</p>
